#standard c++ stuff
*.obj
*.o
*.pch
*.dll
*.a
*.exe
*.out

#directories
.vs/
.vscode/
build/
external/src/gtest/
Testing/

#cal's scratch dir
scratch/

#imgui state file
imgui.ini

#assimp libs
!libassimp.dll
!libassimp.dll.a