#standard stuff
*.obj
*.o
*.pch
*.dll
*.a
*.lib
*.pdb
*.exe
*.out
*.log
*.DS_store

!vulkan-1.dll

#directories
.vs/
.vscode/
.idea/
build/
install/
scratch/

#gprof analysis
analysis.txt

#imgui state file
imgui.ini

#external libs
!nc/lib/libOptickCore.dll
!nc/lib/libOptickCore.dll.a
/.clang-format
/Folder.DotSettings.user
/.editorconfig
/CMakeSettings.json

!vkcube.exe
