[submodule "nc/external/directx"]
	path = engine/external/directx
	url = https://github.com/McCallisterRomer/DirectXMath
[submodule "nc/external/taskflow"]
	path = engine/external/taskflow
	url = https://github.com/McCallisterRomer/taskflow
[submodule "nc/external/gtest"]
	path = engine/external/gtest
	url = https://github.com/McCallisterRomer/googletest
